.panel {
    margin-top: 5px;
    width: 90%;
    margin-left: 4%;
    background-color: sandybrown;
}

.info {
    width: 80%;
    margin-left: 9%;
    background-color: tan;
}

.App {
    background-color: lightseagreen;
}